PORT=3000
NODE_ENV=development

DATABASE_HOST=postgres
DATABASE_NAME=teddy_db
DATABASE_USERNAME=teddy
DATABASE_PASSWORD=teddy123
DATABASE_PORT=5432
DATABASE_SSL=false
KEY_SECRET=teddy_secret_key
KEY_EXPIRATION=1h
APP_DOMAIN=http://localhost